@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 66, 66, 66;
  }
  a {
    @apply text-gray-300 underline hover:text-gray-50 active:text-gray-400;
  }
}

html {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-attachment: fixed;
}

@layer base {
  h1 {
    @apply text-3xl mb-4;
  }
  h2 {
    @apply text-2xl mb-4 mt-4 text-slate-400;
  }
  h3 {
    @apply text-xl mb-4 mt-4 text-slate-400;
  }
  h2,
  h3 {
    svg {
      @apply inline-block mr-2 mt-0;
    }
  }
  p {
    @apply lg:text-lg mb-7;
  }
  code {
    @apply mb-4;
  }
}
