@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --header-background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 66, 66, 66;
  }
  a {
    @apply text-gray-300 hover:text-gray-50 active:text-gray-400;
  }

  h1 {
    @apply text-gray-50;
  }

  h2 {
    @apply text-slate-300;
  }

  h3 {
    @apply text-slate-400;
  }

  time {
    @apply text-slate-200;
  }
}

@media (prefers-color-scheme: light) {
  h1 {
    @apply text-black;
  }

  h2 {
    @apply text-slate-900;
  }

  h3 {
    @apply text-slate-950;
  }

  time {
    @apply text-slate-800;
  }
}

@layer base {
  html {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
    background-attachment: fixed;
  }

  body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  header {
    color: var(--foreground-rgb);
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--header-background-end-rgb))
      )
      rgb(var(--background-start-rgb));
    background-attachment: fixed;
    position: fixed;
    opacity: 0.9;
    z-index: 1500;
  }

  a {
    @apply underline;
  }

  h1 {
    @apply text-3xl mb-4;
  }

  h2 {
    @apply text-2xl;
  }

  h3 {
    @apply text-xl;
  }

  h2,
  h3 {
    @apply mb-4 mt-4;
    svg {
      @apply inline-block mr-2 mt-[-5px];
    }
  }

  h4 {
    @apply mb-5 text-lg;
  }

  h4 > a > svg {
    @apply float-left mr-2;
  }

  p {
    @apply lg:text-lg mb-7;
  }

  code {
    @apply mb-4;
  }

  ul, ol {
    @apply ml-14 mb-8;
  }

  ul {
    list-style-type: disc;
  }

  ul > li, ol > li {
    @apply mb-3;
  }

  ul > li > a:hover {
    @apply no-underline;
  }

  ol {
    list-style-type: number;
  }
}
